// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Fonts
$main-font: "Montserrat", Arial, sans-serif;

// Bg
$body-bg-color: #ffffff;

// Colors
$dark: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$gray: gray;
$gray-2: rgb(200, 189, 189);
$green: green;

$red: red;

$yellow: yellow;

// Links
$link-pressed: gray;

// Box shadows
$box-shadow-table-score: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
